.App {
  display: flex;
  justify-content: left;
}

.SidebarDashboard {
}

.DashboardContent {
  padding: 24px;
}

.SideBarMenuItem {
  display: flex !important;
}
.ui.center.aligned.header,
.ui.centered.header {
  color: #4babd4;
}

.ui.fluid.button {
  background-color: #4babd4;
  color: white;
}

a {
  color: #4babd4;
}
